.navbar > ul{
  background-color: antiquewhite;
}
.navbar ul {
   list-style: none;
   position: relative;
   margin: 0;
   float: left;
   padding: 0;
   float: left;
}
.navbar ul a{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #202124;
  font-weight: bold;
  padding: 0px 15px;
  display: block;
}
.navbar ul  li{
  float: left;
  padding: 0;
  position: relative;
  margin: 0;
}

.navbar ul ul  {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
}
.navbar ul li:hover > ul{
  display: block;
}
.goal{
    border-radius: 20px;
    border: solid black 1px ;
}