
.navbar ul {
   list-style: none;
   position: relative;
   margin: 0;
   float: left;
   padding: 0;
   float: left;
}
.navbar ul a{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #202124;
  font-weight: 600;
  padding: 0px 16px 0px 16px ;
  display: block;
}
.down{
  display: flex;
  align-items: center;
}
.navbar ul  li{
  float: left;
  padding: 0;
  position: relative;
  margin: 0;
}
.downs{
  padding-left: 20px;
}
.xto{
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 14px;
  padding-right: 1px;
  padding-top: 14px;
  padding-bottom: 14px;
width: 213px;
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    /* background-color: azure; */
}
.xto:hover {
  background-color: rgb(249, 249, 251) !important;
}
.xgoal:hover{
  background-image: url(images/10xgoals_hover_red.svg);
  display: flex;
  
  /* padding-right: 20px; ZZZZ*/
}
.goal li   a{
/* padding: 20px 30px 20px 30px ; */
}
.xgoal{
  display: flex;
  /* padding-right: 20px; */
}
.oks{
padding: 0%;
}
.navbar ul ul  {
  position: absolute;
  display: none;
  /* margin-top: 20px; */
  left: 0;
}
.navbar ul li:hover > ul{
  
  line-height: 1;
  /* line-height: initial; */
  /* width: max-content; */
padding-left: 30px;
padding-right: 30px;
margin-top: 20px;
  display: block;
}
.goal{
  background-color: #ffffff;
    border-radius: 10px;
    border: solid rgb(173, 173, 173) 1px ;
}
  /* .logo{
    display: flex;
      justify-content: space-around;
      align-items: center;
  } */
  .oks{
    padding-top: 5px;
    font-family: IBM Plex Sans !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    color: #202124 !important;
  }
  /* .downimg{
    margin-bottom: 20px;
  } */
  .navbar{
    padding-top: 20px;
    padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding-left: 219px;
padding-right: 219px;
  }



  .btn{
    color: #df2e2e;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: .2px;
  }
  .btn{
    margin-left: 8px;
    background-color: #cb202d!important;
    color: #fff!important;
    border-radius: 6px;
    padding: 11px 54px;
    border: solid 0px;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    line-height: 2em;
    letter-spacing: .32px;
  }
  .btn:hover{
    background: #ee4b4b;
  }
  .top-h{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #202124;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.2px
    /* letter-spacing: .9px */
  }
  .topimg{
    margin-left: 60px;
    display: flex;
    align-items: center;
  }
  .top{
    padding-top: 130px;
    padding-left: 219px;
    padding-right: 219px;
    display: flex;
  }
  .top-p{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #6c6d6f;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7em;
    margin-bottom: 44px;
}
  
  .input{
    background-color: #fff;
    color: #72737d;
    border-style: solid;
    border-width: 1.5px;
    border-color: #eaebf0;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: .16px
  }

  .section-heading{
    font-family: "IBM Plex Sans",Sans-serif;
    color: #202124;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}
  .product-list{
    margin-right: 48px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
   
  .active{
      background-color: #ebf6ff;
    color: #202124;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    font-family: "IBM Plex Sans",Sans-serif;
    line-height: 36px;
    border-radius: 6px;
    padding: 12px 24px
  }
  .services{
    background-color: #fff;
    color: #6c6d6f;
    font-family: "IBM Plex Sans",Sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    border-radius: 6px;
    padding: 12px 24px
  }

  .academy{
    background-color: #fff;
    color: #6c6d6f;
    font-family: "IBM Plex Sans",Sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    border-radius: 6px;
    padding: 12px 24px
  }
  .product-box{
    border: 2px solid #ffeaea;
    border-radius: 16px;
    padding: 48px 40px 0;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.product-goal{
  font-family: "IBM Plex Sans",Sans-serif;
  color: #202124;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 12px;
}
  .implement-h{
  font-family: "IBM Plex Sans",Sans-serif;

    color: #202124;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    height: 63px;
    margin: 0;
    display: block;
  }
  .product-p{
  font-family: "IBM Plex Sans",Sans-serif;

    color: #6c6d6f;
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 10px;
  }
  .learn-more{
  font-family: "IBM Plex Sans",Sans-serif;
text-decoration: none;
    color: #df2e2e;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: .2px;
  }
 .main-pro-box{
   justify-content: center;
   display: flex;
   align-items: center;
 }
 .product-list {
  text-align: center;
  margin-bottom: 56px;
}
 .products{
  padding-left: 219px;
  padding-right: 219px;
 }
 .product-box{
   margin-left:10px ;
   margin-right: 10px;
 }
 .product-box:hover {
  border: 2px solid #ff9696;
  box-shadow: 0px 60px 100px rgb(234 235 240 / 60%);
}
.top-left{
  background-image: url(images/pattern-5.png);
 
}
.startups-h{
  margin-top: 80px;
  margin-bottom: 6px;
    color: #202124;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 32px;
    font-weight: 700;
    /* line-height: 40px; */
text-align: center;
}
.employes-h{
  margin: 0px;
  color: #6C6D6F;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}
.container{
  padding-left:219px;
  padding-right: 219px;
}
.request-demo{
  padding-bottom: 80px;
  padding-top: 110px;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:219px;
  padding-right: 219px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #1F2E64;
  background-size: 190px auto;
  background-image: url(images/Email-section-pattern-right.svg);
}
.scaling-success{
  max-width: 400px;
  padding-right: 20px;
  color: #FFF;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
}
.worked{
  color: #EAEBF0;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}

   .req-demo
    {
      background-color: #FFF;
      color: #6C6D6F;
      border-style: solid;
      border-width: 1.5px 1.5px 1.5px 1.5px;
      border-color: #EAEBF0;
      border-radius: 6px 6px 6px 6px;
      padding: 12px 24px 12px 24px;
      font-family: "IBM Plex Sans",Sans-serif;
      font-size: 20px;
      line-height: 1.6em;
      letter-spacing: .4px;
      /* height: 56px; */
        width: 360px;
    }
   
    .request-bnt{
      background-color: #2F53D7!important;
      color: #FFFFFF!important;
      border-radius: 6px 6px 6px 6px;
      padding: 12px 0 12px 0;
      font-family: "IBM Plex Sans",Sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-transform: none;
      line-height: 1.6em;
    margin-left: 8px;
    width: 40%;
    border: solid 0px;
      letter-spacing: .4px;
    }
    .rew-demo-card{
      display: flex;
    }
    .custom .checkbox{
      position: relative;
      top: 2px;
      display: inline-block;
      /* margin: 0;
      width: 1.5rem;
      /* min-width: 1.5rem; */
      width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  
  }
    .agree-email-p{
      color: #C8C9D1!important;
      font-family: "IBM Plex Sans",Sans-serif!important;
      font-size: 18px!important;
      line-height: 32px!important;
    }
    .privacy-policy-a{
      color: #C8C9D1!important;
      font-family: "IBM Plex Sans",Sans-serif!important;
      font-size: 18px!important;
      line-height: 32px!important;
    }
   .container ul li{
    margin-top: 20px; 
     text-decoration: none;
   }
   .container ul .a-element:hover{
color: #CB202D;
   }

   .product{
     margin-top: 28px;
     padding-left: 0%;
     list-style: none;
   }
   .li-element{
     text-decoration: none;
   }
   .a-element{
    font-family: "IBM Plex Sans",Sans-serif;
    color: #6C6D6F;
    font-weight: 600;
     text-decoration: none;
   }
   .widget-title{
    color: #202124;
    font-family: "IBM Plex Sans",Sans-serif;
    font-weight: 700;
    text-transform: uppercase;

   }
   .footer-detail {
     padding-top: 84px;
     padding-bottom: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.f-line{
  border: solid#C8C9D14A 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.OUR-SERVICES{
  display: flex;
  align-items: flex-start;
}
.services-items{
  margin-left: 20px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Copyright-p{
  color: #72737D;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}
.youtube{
  background-image: url(images/youtube.svg);
  width: 32px;
  height: 32px;
margin-right: 20px;

}
.youtube:hover{
background-image:url(images/youtube_hover.svg) ;
width: 32px;
}
.twitter{
  background-image: url(images/twitter.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;

}
.twitter:hover{
  /* background-color: #c8c9d100; */
  background-image:url(images/twitter_hover.svg) ;
  
}
.linkedin{
  background-image:url(images/linkedin.svg) ;
  width: 32px;
  height: 32px;
margin-left: 20px;
background-repeat: no-repeat;
  
}
.linkedin:hover{
background-image: url(images/linkedin_hover.svg);
}
/* .twitter{
  padding-left: 20px;
  padding-right: 20px;
} */
.social{
  display: flex;
}
.main-PRODUCTS{
  border-bottom: 1px solid#C8C9D14A ;
}
.SERVICES-L{
  border: solid#C8C9D14A 1px;
  width: 133px;
    margin-top: 0px;
}
.LEGAL-L{
  width: 77px;
  margin: 0px;
}
.lists{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 229px;
  align-content: flex-start;
border-bottom: solid #C8C9D14A  1px;
}
.academy-top{
  justify-content: space-between;
  margin-bottom: 138px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}
.academy-top-left{

}
.xacademy{
  color: #CB202D;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0;
}
.academy-scaling{
  margin-top:0px ;
  color: #202124;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 20px;
  letter-spacing: 0;
}
.program-founders{
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0;
  color: #182272;
  padding-left: 12px;
}
.Scaling {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.mentorship{
  padding-right: 8px;
}
.xtoacademy{
  padding-left: 50px;
}
.academy-btn{
  font-family: "IBM Plex Sans",Sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 2em;
letter-spacing: .3px;
fill: #FFF;
color: #FFF;
background-color: #CB202D;
border-radius: 6px 6px 6px 6px;
padding: 14px 43px 14px 43px;
}
.all-tab{
  justify-content: center;
  list-style: none;
  display: flex;
  /* align-items:center ; */
}
.tab-h{
  border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #CB202D;
  color: #CB202D;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0;  
  background-color: transparent;
  background-image: linear-gradient(180deg,#FFFFFF 0%,#FAEBEC 100%);
  padding: 14px 100px 41px 100px;

}
.tab-h-list{
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0;
  padding: 0px 0px 31px 0;
    margin: 0 0 0 0;
  background-color: #FFF;
  color: #202124;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #EAEBF0;
}

.Format-detail{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-left:15px ;
  padding-right: 15px;
  /* padding-bottom: 90px; */
}
.roundtables-h{
  color: #202124;
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.6em;
  margin-top: 40px;
  margin-bottom: 8px;
}
.startup-journeys-p{
  color: #6C6D6F;
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7em;
}
.academy-box{
  background-color: #F6F9FA;
}
.meet-leader-h{
  text-align: center;
  color: #202124;
  font-family: "IBM Plex Sans", Sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* line-height: 1.5em; */
}
.Build {
  display: flex;
  align-items: center;
  background-image: url(images/Email-section-pattern-right-1.svg);
}
.batches-ten-x{
  margin-bottom: 88px;
  margin-top:88px ;
border-radius: 30px 30px 30px 30px; 
  background-color: #1F2E64;
  margin-left:219px;
  margin-right: 219px;
  display: flex;
  color: #FFF;
  font-family: "IBM Plex Sans",Sans-serif;
}
.build{
  margin-right: 32px;
  margin-top: 101px;
  margin-bottom: 101px;
  margin-left: 64px;
}
.batches-p{
  text-align: left;
    color: #FFF;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7em;
    margin-top: 64px;
    margin-bottom: 32px;
    margin-right: 94px;
}

.build-left-h{
  margin-left: 94px;
}
.bulid-a{
  color: #e3888f;}
.Sequoia-portfolio-h{
  text-align: left;
    color: #FFF;
    font-family: "IBM Plex Sans",Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7em;
    margin-bottom: 64px;
}
.unique-scaling-h{
  color: #FFF;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
}
.submit-form{
  padding: 97px 30px 75px 30px;
  border-radius: 30px 30px 30px 30px;
  background-image: url(images/Email-section-pattern-right-1.svg);
  background-color: #1F2E64;
  background-repeat: no-repeat;
}
.scaling-box{
  padding-left: 219px;
  padding-right: 219px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in-touch-btn{
  background-color: #2F53D7!important;
  color: #FFFFFF!important;
  border-radius: 6px 6px 6px 6px;
  padding: 12px 0 12px 0;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;
  width: 237px;
  border: solid 0px;
  text-transform: none;
  line-height: 1.6em;
  /* letter-spacing: .4px; */
}
.inputes{
  margin: 10px;
  background-color: #FFF;
  color: #6C6D6F;
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: #EAEBF0;
  border-radius: 6px 6px 6px 6px;
  padding: 12px 24px 12px 24px;
  font-family: "IBM Plex Sans",Sans-serif;
  font-size: 20px;
  /* line-height: 1.6em; */
  /* letter-spacing: .4px; */
}
.main-services{
  border-left: 1px solid #C8C9D14A;
  padding-left: 30px;
}



